{%- if card_product and card_product != empty -%}
  <a  href="{{ card_product.url }}" class="flex">
    <div class="card-zoom group relative">
      {%- if card_product.featured_media -%}
      <img class="transition z-10 group-hover:z-0" src="{{ card_product.featured_media | image_url }}" alt="{{ card_product.featured_media.alt | escape }}">
        {%- if card_product.images[1] == null -%}
            <div class="transition card-zoom-image h-full z-0 group-hover:z-10" style="background-image:url('{{ card_product.featured_media | image_url }}')"></div>
        {%-else -%}
          <div class="transition card-zoom-image h-full z-0 group-hover:z-10" style="background-image:url('{{ card_product.images[1] | image_url }}')"></div>  
      {%- endif -%}
    </div>
    {% render 'product-sticker', card_product: product,  %}  

  </a>
{%- endif -%}      

  <div class="font-body text-blue-800 font-normal leading-none tracking-tight pt-3 md:pt-5">
      <div class="flex justify-between">
      <a href="{{ card_product.url }}" class="body-text leading-tight">{{ card_product.title | escape }}</a>
      <a href="{{ card_product.url }}">{% render 'svg-icons' with 'plus' %}</a>
      </div>
      {% render 'price', product: card_product %}
      {% render 'variant-color-count', product: card_product %}    
  </div> 
{%- endif -%}