{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign products_to_display = 4
  if section.settings.collection.all_products_count > products_to_display
    assign more_in_collection = true
  endif
-%}
<section class="px-5 lg:px-[120px] py-16 lg:pb-20">
  <div class="flex gap-x-8 pb-8 md:pb-10">
    <div class="flex-none">
      <h2 class="text-blue-800 text-[26px] md:text-5xl font-normal font-heading leading-normal">
        {{ section.settings.title }}
      </h2>
    </div>
    <hr class="flex-1 align-middle m-auto h-px bg-orange-500 border-0">
    <div class="flex-none m-auto align-middle">
      <a href="{{ section.settings.collection.url }}" 
      class="flex gap-x-2 text-orange-500 text-sm font-heading md:text-base" 
      aria-label="{{ section.settings.collection.url }}">{{ section.settings.shop_all }} {% render 'svg-icons' with 'arrow' %}</a>   
    </div>
  </div>

  <div class="grid grid-cols-12 grid-rows-2 gap-x-6 gap-y-10">
    <div class="col-span-6 md:col-span-6 row-span-2 border border-indigo-600">1</div>

      {%- for product in section.settings.collection.products limit: products_to_display -%}
        <product-grid class="col-span-3 md:col-span-3 row-span-1 border border-indigo-600">
            {% render 'card-product',
              card_product: product,
              show_secondary_image: section.settings.show_secondary_image,
              section_id: section.id
            %}      
        </product-grid>
      {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "shop_all",
      "label": "Shop Text",
      "default": "Shop all"
    },
    {
      "type": "image_picker",
      "id": "advert",
      "label": "Collection Advert"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },

    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
