{%- liquid
  assign products_to_display = 4
  if section.settings.collection.all_products_count > products_to_display
    assign more_in_collection = true
  endif
-%}
<section class="px-5 lg:px-[120px] py-16 lg:pb-20 font-body">
  <div class="flex gap-x-8 pb-8 md:pb-10">
    <div class="flex-none">
      <h2 class="text-blue-800 heading-text font-normal font-heading leading-9 md:leading-normal">
        {{ section.settings.title }}
      </h2>
    </div>
    <hr class="flex-1 align-middle m-auto h-px bg-orange-500 border-0 hidden md:block">
    <div class="flex-none m-auto align-middle hidden md:block">
      <a href="{{ section.settings.collection.url }}" class="flex gap-x-2 text-orange-500 body-text font-heading" aria-label="{{ section.settings.collection.url  }}">
        {{ section.settings.shop_all }} {% render 'svg-icons' with 'arrow' %}
      </a>   
    </div>
  </div>

  <div class="grid md:grid-cols-12 md:grid-rows-2 gap-y-5 gap-x-2.5 md:gap-x-6 md:gap-y-10 pb-8 md:pb-10">
    <a href="{{ section.settings.advert_product.url }}" class="col-span-6 md:col-span-6 row-span-2 relative">     
      <div style="background-image:url('{{ section.settings.advert | image_url }}')" class="card-zoom-image hidden md:block"></div>
      <div class="w-100 md:hidden">
        <img class="transition z-10 group-hover:z-0" src="{{ section.settings.advert_mob | image_url }}" alt="{{ section.settings.advert_product.title | escape }}">
      </div>
    </a>

    {%- for product in section.settings.collection.products limit: products_to_display -%}
      <product-grid class="col-span-3 md:col-span-3 row-span-1 relative">
          {% render 'card-product',
            card_product: product,
            section_id: section.id
          %}      
      </product-grid>
    {%- endfor -%}
  </div>

  <div class="flex gap-x-8 pb-8 md:pb-10">
    <hr class="flex-1 align-middle m-auto h-px bg-orange-500 border-0 md:hidden">
    <div class="flex-none m-auto align-middle md:hidden">
      <a href="{{ section.settings.collection.url }}" class="flex gap-x-2 text-orange-500 body-text font-heading" aria-label="{{ section.settings.collection.url }}">
        {{ section.settings.shop_all }} {% render 'svg-icons' with 'arrow' %}
      </a>   
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "inline_richtext",
      "id": "shop_all",
      "label": "Shop Text",
      "default": "Shop all"
    },
    {
      "type": "image_picker",
      "id": "advert",
      "label": "Collection Advert",
      "info": "Suggested image size: 335px x 187px"
    },
    {
      "type": "image_picker",
      "id": "advert_mob",
      "label": "Mobile Collection Advert",
      "info": "Suggested image size: 668px x 881px"
    },
    {
      "type": "product",
      "id": "advert_product",
      "label": "Product Link For Advert"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
